<% if @questions.length == 0 %>
       <h1>Sorry, we can't seem to find this question.</h1>
       <h3>Please email add_questions@questionsbox.com to have your questions added to our directory. Someone will respond within 48 hours with a response to your questions and resources. You will also be notified when the question has been added.</h3>

<% else %>
     <% @questions.each do |question| %>
        <div>
            <%= question.q_title %>
        </div>
        <div>
            <%= question.answer %>
        </div>
        <div>
             <%= question.resource_name %>       
        </div>
        <div>
            <%= question.web_link %>
        </div>
        <div>
            <%= question.type_id %>
        </div>
        <div>
            <%= question.type.title%>
        </div>
        <div>
            <%= question.type.tips%>
        </div>
        <div>
            <img src="https://cdn0.iconfinder.com/data/icons/flat-social-media-icons-set-round-style-1/550/netvibes-512.png" height=35px>
                <%= link_to 'Add Question to My Page', add_user_question_path(question), method: :post %>
        </div>
    <% end %>
<% end %>

