<!DOCTYPE html>
<html>
  <head>
    <title>QuestionsBox</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>Questions Box</h1>
    <i><h2>An app for reproductive health educators in answering student's blush worthy questions!</h2></i>
    
    <img src='https://dinnerplanner.com/wp-content/uploads/2017/05/box-of-questions.jpg' height=250px>
    <%= yield %>
  </body>
</html>
