<div class="sub">
    <h3><b>Administrator's Page: Edit Question</b></h3>
</div>

<div>
<form>
<%= form_for @question do |q| %>

    <div class="form-group">
    <label>Enter Question</label>
    <div>
        <%= q.text_area :q_title, placeholder: 'Question', cols: 165, rows: 3 %>
    </div>
    <div class="form-group">
    <label>Enter Answer</label>
       <div>
            <%= q.text_area :answer, placeholder: 'Answer', cols: 165, rows: 3  %>
        </div>
    </div>
    <div class="form-group">
    <label>Select Question Type</label>
        <div>
            <%= hidden_field_tag 'question_id', @question.id %>
            <%= select_tag 'type_id', options_from_collection_for_select(@type, :id, :title) %>
        </div>
    </div>
    <div class="form-group">
    <label>Enter Resource Name</label>
        <div>
            <%= q.text_area :resource_name, placeholder: 'Resources Name', cols: 165, rows: 3 %>
        </div>
    </div>
    <div class="form-group">
    <label>Enter Link to Resource</label>
        <div>
            <%= q.text_area :web_link, placeholder: 'Web Link to Resource', cols: 165, rows: 3 %>
        </div>
    </div>
    <div class="form-group">
        <%= q.submit 'Save' %>
    </div>
    <% end %>
</form>
</div>
