<div>
    <%= link_to 'New', new_question_path %>
</div>

<div>
    <% @question.each do |question| %>
        <div>
            <%= question.q_title %>
        </div>
        <div>
            <%= question.answer %>
        </div>
        <div>
            <% @type.each do |type| %>
                <%= type.title %>
            <% end %>
        </div>
        <div>
             <%= question.resource_name %>       
        </div>
        <div>
            <%= question.web_link %>
        </div>
        <div>
            <%= link_to 'Edit', edit_question_path(question.id) %>
        </div>
        <div>
            <img src="https://png.pngtree.com/svg/20170814/fy_recycle_bin_358384.png" height=35px>
            <%= link_to 'Delete', question_path(question.id), method: :delete %>
        </div>
    <% end %>
</div>
