<div>
    <img src="https://cdn4.iconfinder.com/data/icons/simplicio/128x128/file_add.png" height=35px>
    <%= link_to 'Add New Question', new_question_path %>
</div>

<div>
    <img src="https://junkmailimages.blob.core.windows.net/large/80c5d9d9d43b4626bf7173fc9724afde.jpg" height=35px>
    <%= link_to 'Return Home', questions_path %>
</div>
<div>
    <img src="https://img.icons8.com/color/260/search.png" height=35px>
    <%= link_to 'Search Questions', questions_search_path %>
</div>


<div>
    <% @questions.each do |question| %>
        <div>
            <h3>Question: <%= question.q_title %></h3>
        </div>
        <div>
            <h4>Answer</h4>
            <p><%= question.answer %></p>
        </div>
   
        <div>
             <h5>For more information visit:</h5><%= question.resource_name %></h5>       
        </div>
        <div>
        
        <div>
            <%= question.web_link %>
        </div>
        <div>
            <img src="https://cdn4.iconfinder.com/data/icons/web-ui-color/128/Edit-512.png" height=35px>
            <%= link_to 'Edit Question', edit_question_path(question) %>
        </div>
        <div>
           <img src="https://cdn2.iconfinder.com/data/icons/metro-uinvert-dock/256/Recycle_Bin_Full.png" height=35px>
           <%= link_to "Delete Question", question_path(question), method: :delete %>
        </div>
    <% end %>
</div>

