<div>
    <%= form_for @question do |q| %>
        <div>
            <%= q.text_area :q_title, placeholder: 'Question' %>
        </div>
        <div>
            <%= q.text_area :answer, placeholder: 'Answer' %>
        </div>
        <div>
            <%= hidden_field_tag 'question_id', @question.id %>
            <%= select_tag 'type_id', options_from_collection_for_select(@type, :id, :title) %>
        </div>
        <div>
            <%= q.text_area :resource_name, placeholder: 'Resources Name' %>
        </div>
        <div>
            <%= q.text_area :web_link, placeholder: 'Web Link to Resource' %>
        </div>
        <div>
            <%= q.submit 'Save' %>
        </div>
    <% end %>
</div>


